/* CSS Variables */
:root {
  --clr-blue-100: hsl(236, 100%, 95%);
  --clr-blue-200: hsl(236, 100%, 87%);
  --clr-blue-300: hsl(235, 45%, 61%);
  --clr-blue-400: hsl(246, 80%, 60%);
  --clr-blue-600: hsl(235, 46%, 20%);
  --clr-blue-800: hsl(226, 43%, 10%);

  --clr-work: hsl(15, 100%, 70%);
  --clr-play: hsl(195, 74%, 62%);
  --clr-study: hsl(348, 100%, 68%);
  --clr-exercise: hsl(145, 58%, 55%);
  --clr-social: hsl(264, 64%, 52%);
  --clr-selfcare: hsl(43, 84%, 65%);

  --fs-400: 0.8rem;
  --fs-500: 1.1rem;
  --fs-600: 1.75rem;
  --fs-700: 2rem;
  --fs-800: 3rem;
  --ff-primary: "Rubik", sans-serif;

  --card-width: 13rem;
  --card-height: 15rem;
}

/* Body */
body {
  --border-rad: 1rem;
  --padding: 2rem;
  --padding-small: 1rem;
  font-family: var(--ff-primary);
  background-color: var(--clr-blue-800);

  display: grid;
  place-items: center;
}

/* Profile Styling */
.profile__container {
  background-color: var(--clr-blue-600);
  border-radius: var(--border-rad);
}

.profile__info {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: var(--padding);
  color: var(--clr-blue-200);
  background-color: var(--clr-blue-400);
  border-radius: var(--border-rad);
}

.profile__info h1 {
  color: var(--clr-blue-100);
  font-weight: 300;
  line-height: 1.2;
}

.profile__info img {
  border-radius: 50%;
  border: 2px solid white;
  width: 4.5rem;
}

.profile__actions {
  padding: var(--padding-small);
}

.profile__actions ul {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.profile__actions li {
  max-width: fit-content;
}

.profile__actions button {
  color: var(--clr-blue-200);
  opacity: 0.8;
  background: none;
  border: none;
  cursor: pointer;
}

.profile__actions button[aria-selected="true"] {
  color: white;
}

@media (min-width: 45em) {
  .profile__container {
    max-width: var(--card-width);
    max-height: calc(var(--card-height) * 2 + var(--grid-gap));
  }

  .profile__info {
    height: 70%;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    font-size: var(--fs-400);
  }

  .profile__info h1 {
    font-size: var(--fs-700);
  }

  .profile__actions ul {
    grid-auto-flow: row;
    grid-row-gap: 0.5rem;
    font-size: var(--fs-400);
  }
}

/* Task styling */
.task__container {
  padding-top: var(--padding);
  border-radius: var(--border-rad);
  position: relative;
  overflow: hidden;
  z-index: -2;
}

.task__container > figure {
  position: absolute;
  max-width: fit-content;
  right: 1rem;
  top: -0.6rem;
  z-index: -1;
}

.task__info {
  padding: var(--padding-small);
  border-radius: var(--border-rad);
  background-color: var(--clr-blue-600);
  color: white;
}

.task__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}

.task__title p {
  font-size: var(--ff-primary);
}

.task__tracking {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task__tracking :first-child {
  font-size: var(--fs-600);
  font-weight: 300;
}

.task__tracking :last-child {
  font-weight: 300;
  color: var(--clr-blue-200);
}

@media (min-width: 45em) {
  .task__container {
    max-width: var(--card-width);
    max-height: var(--card-height);
    padding: revert;
  }

  .task__info {
    position: absolute;
    bottom: -1px;
    height: 80%;
    width: 100%;
  }

  .task__tracking {
    flex-direction: column;
    align-items: start;
  }

  .task__tracking :first-child {
    font-size: var(--fs-800);
  }

  .task__tracking :last-child {
    font-size: var(--fs-400);
  }
}

/* Layout */

.dashboard__container {
  --grid-gap: 1.5rem;
  display: grid;
  gap: var(--grid-gap);
  padding-block: 4rem;
  height: 55vh;
}

@media (min-width: 45em) {
  .dashboard__container {
    grid-template-columns: repeat(4, 1fr);
    padding-block: revert;
    padding-inline: var(--padding);
  }

  .profile__container {
    grid-row: span 2;
  }
}
